{% extends "base.html" %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Board Index</a></li>
	<li class="breadcrumb-item">
		<a href="{% url 'forum-category-detail' forum_data.category.id %}">{{forum_data.category.name}}</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">{{forum_data.name}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12 col-xl-9">
		{{forum_data.name}}
	</div>
</div>
{% endblock %}
