{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-12 col-xl-9">
		<h2 class="h4 bg-info mb-0 p-4 rounded-top">
			<a href="#" class="text-white text-decoration-none text-uppercase">Forum Category</a>
		</h2>
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead class="bg-light">
					<th scope="col" class="forum-col">Forum</th>
					<th scope="col">Topics</th>
					<th scope="col">Posts</th>
					<th scope="col" class="last-post-col">Last post</th>
				</thead>
				<tbody>
					{% for forum in forum_list %}
					<tr>
						<td>
							<h3 class="h5 mb-0">
								<a href="#" class="text-uppercase">{{forum.name}}</a>
							</h3>
							<p class="mb-0">{{forum.description}}</p>
						</td>
						<td>
							5
						</td>
						<td>
							18
						</td>
						<td>
							<h4 class="h6 mb-0 fw-bold"><a href="#">Post name</a></h4>
							<div>by <a href="#">Author Name</a></div>
							<div>05 Apr 2020, 20:07</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-12 col-xl-3">
		<aside>
			<div class="row">
				<div class="col-12 col-sm-6 col-xl-12">
					<div class="card mb-3 mb-sm-0 mb-xl-3">
						<div class="card-header fw-bold">Members Online</div>
						<div class="card-body">
							<ul class="list-unstyled">
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
								<li><a href="#">Forum Member</a></li>
							</ul>
						</div>
						<div class="card-footer">
							<dl class="row mb-0">
								<dt class="col-8">Total:</dt>
								<dd class="col-4 mb-0">{{forum_list|length}}</dd>
							</dl>
							<dl class="row mb-0">
								<dt class="col-8">Members:</dt>
								<dd class="col-4 mb-0">10</dd>
							</dl>
							<dl class="row mb-0">
								<dt class="col-8">Guests:</dt>
								<dd class="col-4 mb-0">10</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-xl-12">
					<div class="card">
						<div class="card-header fw-bold">Forum Stats</div>
						<div class="card-body">
							<dl class="row mb-0">
								<dt class="col-8">Total Forums:</dt>
								<dd class="col-4">10</dd>
							</dl>
							<dl class="row mb-0">
								<dt class="col-8">Total Topics:</dt>
								<dd class="col-4">13</dd>
							</dl>
							<dl class="row mb-0">
								<dt class="col-8">Total Posts:</dt>
								<dd class="col-4">55</dd>
							</dl>
							<dl class="row mb-0">
								<dt class="col-8">Total Members:</dt>
								<dd class="col-4">146</dd>
							</dl>
						</div>
						<div class="card-footer">
							<div>Newest Member:</div>
							<div><a href="#">Forum Member</a></div>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</div>
</div>

{% endblock %}
