{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-12">
		<h1 class="h3">New Topic: {{forum_data.name}}</h1>
		<form>
			<div class="input-group mb-3">
				<label class="visually-hidden" for="topic-title">Title</label>
				<span class="input-group-text" id="topic-title-label">Title</span>
				<input type="text" name="topic-title" class="form-control" placeholder="Enter a title" aria-label="Topic title" aria-describedby="topic-title-label">
			</div>
			<div class="mb-3">
				<label for="topic-content" class="form-label">Content</label>
				<textarea class="form-control" id="topic-content" rows="10"></textarea>
			</div>
			<div>
				<button type="submit" class="btn btn-primary btn-sm">Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Board Index</a></li>
	<li class="breadcrumb-item">
		<a href="{% url 'forum-category-detail' forum_data.category.id %}">{{forum_data.category.name}}</a>
	</li>
	<li class="breadcrumb-item"><a href="{% url 'forum-detail' forum_data.id %}">{{forum_data.name}}</a></li>
	<li class="breadcrumb-item">New Topic</li>
</ol>
{% endblock %}
